<!-- newsletter -->
<div class="newsletter">
    <div class="container-fluid">
        <form class="form" action="#" method="post">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
            <div class="form__left">
                <h3>Newsletter</h3>
                <p>Subcribe to get information about products and coupons</p>
            </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
            <div class="form-right">
                <br>
                <div class="input-group">
                <input class="form-control" type="email" placeholder="Email address">
                <div class="input-group-append">
                    <button class="btn btn-info">Subscribe</button>
                </div>
                </div>
            </div>
            </div>
        </div>
        </form>
    </div>
</div>
      