.features{
    background: azure;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 3px #eeeeee;
    .material-icons{
        float: left;
        padding-right: 15px;
        color: #18c0da;
    }
}
.ads{
    img{
        width: 100%;
    }
    margin-bottom: 25px;
}
.product-sec{
    .product-image{
        border: 1px solid #eeeeee;
        img{
            width: 100%;
        }
    }
    .product-thumbnail{
        margin-bottom: 25px;
        &::after{
            content: "";
            display: block;
            clear: both;
        }
        ul{
            margin: 0px;
            padding: 0px;
            li{
                float: left;
                list-style: none;
                &:last-child{
                    a{
                        margin-right: 0px;
                    }
                }
                a{
                    display: block;
                    width: 81px;
                    border: 1px solid #eeeeee;
                    margin-top:5px;
                    margin-right: 5px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    a{
        color: #666666;
        &:hover{
            color: #111111;
            text-decoration: none;
        }
    }
    .product-title{
        font-size: 20px;
        margin: 0px;
        font-weight: 600;
    }
    .product-price{
        font-weight: 600;
        color: #f57224;
        margin: 0px;
        padding: 0px;
        font-size: 18px !important;
        text-shadow: 1px 1px 1px #EEEEEE;
        font-family: sans-serif;
    }
    .price-off{
        font-size: 11px;
        color: #666666;
        font-family: sans-serif;
        .pop{
            color: coral;
        }
    }
    .rating{
        color: #faca51;
        .rating-count{
            color: #666666;
            font-size: 12px;
        }
    }
    .cart-details{
        .btn{
            margin-left: 5px;
        }
        #qty{
            padding: 7px;
            border: 1px solid #cccccc;
            width: 100px;
            margin-left: 5px;
        }
    }
}