<app-breadcrumb></app-breadcrumb>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <div class="product-sec">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="product-image">
                            <img src="assets/images/categories/electronic/1.jpg" alt="">
                        </div>
                        <div class="product-thumbnail">
                            <ul>
                                <li><a href="#"><img src="assets/images/categories/electronic/1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/categories/electronic/2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/categories/electronic/3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/categories/electronic/4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/categories/electronic/5.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50 -
                            <span class="price-off">
                                <del>৳ 500</del><span class="pop">-10%</span>
                            </span>
                        </p>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae non culpa cupiditate magnam, soluta magni tempora inventore veritatis excepturi aspernatur, reprehenderit perspiciatis aliquid laborum quod neque molestias fuga, pariatur harum.</p>
                        <hr>
                        <p>Choose Color: </p>
                        <form action="" class="form-inline cart-details">
                            <label for="qty">Quantity</label>
                            <input type="number" name="qty" value="1" id="qty">
                            <button class="btn btn-warning"><i class="material-icons">shopping_cart</i> Add to cart</button>
                            <button class="btn btn-info"><i class="material-icons">favorite</i></button>
                            <button class="btn btn-info"><i class="material-icons">insert_chart</i></button>
                        </form>
                        <hr>
                        <p>
                            <small>Report Abuse</small><br>
                                
                                SKU: SF1133569600-1 <br>
                                
                                Categories:Consumer Electronics, Refrigerator,Babies & Moms
                                <br>
                                Tagssofa,technologies,wireless
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                            <div>
                                <tabset>
                                    <tab heading="Description" id="tab1">
                                        <p>
                                            <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, nisi distinctio neque quod, iste dolor sunt beatae tenetur laborum praesentium dolore eligendi atque vel quia? Culpa sint iste mollitia assumenda?</span>
                                            <span>Praesentium reprehenderit aliquam, quaerat voluptates odit vel suscipit minima quas totam ad, corrupti, iure possimus temporibus deleniti repellat itaque explicabo soluta! Ab deserunt officia natus recusandae labore enim deleniti facere.</span>
                                            <span>Amet pariatur voluptatum culpa repellat optio eaque possimus sed quidem eligendi cumque molestias blanditiis reprehenderit vitae natus veritatis laboriosam reiciendis consectetur iusto, enim corrupti nesciunt? Maxime minima earum porro omnis?</span>
                                        </p>
                                    </tab>
                                    <tab heading="Vendor">Basic content 1</tab>
                                    <tab heading="Reviews (1)">Basic content 2</tab>
                                    <tab heading="Questions and Answers">Basic content 2</tab>
                                    <tab heading="More Offers">Basic content 2</tab>
                                </tabset>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <aside class="features">
                <p><i class="material-icons">local_shipping</i> Shipping worldwide</p>
                <p><i class="material-icons">sync</i> Free 7-day return if eligible, so easy</p>
                <p><i class="material-icons">receipt</i> Supplier give bills for this product.</p>
                <p><i class="material-icons">credit_card</i> Pay online or when receiving goods</p>
            </aside>
            <aside class="features">
                <p><i class="material-icons">storefront</i> Sell on bisshas?<a href="#"> Register Now !</a></p>
            </aside>
            <aside class="ads">
                <img src="assets/images/ads/product-ads.png" alt="">
            </aside>
        </div>
    </div>
</div>