

.product-category-view{
    margin-bottom: 25px;
    
    .category-title{
        background:azure;
        color: #111111;
        padding: 8px 15px;
        margin: 20px 0;
        box-shadow: 1px 1px 2px #EEEEEE;
        &::after{
            clear: both;
            content: "";
            display: block;
        }
        .title{
            font-size: 16px;
            float: left;
        }
        .sort{
            font-size: 16px;
            float: right;
            select{
                margin: 0px;
                border: 1px solid rgba(24, 192, 218, 0.5);
                color: #666666;
                text-align: right;
                width: 125px;
            }
        }
    }
    .card{
        border-radius: 0px;
        overflow: hidden;
        text-align: center;
        margin-bottom: 25px;
        img{
            height: auto;
            width: 182px;
            margin: 0 auto;
        }
        .new-badges{
            font-size: 12px;
            text-align: center;
            position: absolute;
            left: -30px;
            top: 10px;
            padding: 1px;
            width: 100px;
            color: #fff;
            background: rgba(255, 152, 0, 0.75);
            transition: all .2s ease-in-out;
            transform: scale(1) rotate(-45deg);
            font-weight: 400;
        }
        .badges {
            font-size: 24px;
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 126px;
            padding: 10px;
            color: #fff;
            font-weight: bold;
            background: rgba(24, 192, 218, 0.5);
            transition: all .2s ease-in-out;
        }
        .product-action{
            opacity: 0;
            position: absolute;
            right: 0;
            text-align: center;
            i{
                margin-bottom: 1px;
                background: rgba(24, 192, 218, 0.75);
                font-size: 28px;
                color: #fff;
                padding: 5px;
                cursor: pointer;
                transition: all .2s ease-in-out;
                &:hover{
                    background: #0794aa;
                    transition: all .2s ease-in-out;
                    box-shadow: -1px 1px 2px rgba(17, 17, 17, 0.25);
                }
                &:focus, &:active{
                    background: #18c0da !important;
                    transition: all .1s ease-in-out;
                    box-shadow: 0px 0px 0px rgba(17, 17, 17, 0) !important;
                }
            }
            transition: all .2s ease-in-out;
        }
        
        transition: all .2s ease-in-out;
        &:hover{
            box-shadow: -2px 2px 5px #dddddd;
            transition: all .2s ease-in-out;
            .product-action{
            transition: all .2s ease-in-out;
            opacity: 1;
            }
            .badges {
                background: #18c0da;
                transition: all .2s ease-in-out;
            }
        }
        .card-body{
            text-align: left;
            padding: 15px;
            a{
                color: #666666;
                &:hover{
                    color: #111111;
                    text-decoration: none;
                }
            }
            .product-title{
                font-size: 13px;
                margin: 0px;
                font-weight: 400;
            }
            .product-price{
                font-weight: 600;
                color: #f57224;
                margin: 0px;
                padding: 0px;
                font-size: 18px !important;
                text-shadow: 1px 1px 1px #EEEEEE;
                font-family: sans-serif;
            }
            .price-off{
                font-size: 11px;
                color: #666666;
                font-family: sans-serif;
                .pop{
                    color: coral;
                }
            }
            .rating{
                color: #faca51;
                .rating-count{
                    color: #666666;
                    font-size: 12px;
                }
            }
        }
    }
}
.filter-sec{
    background: azure;
    padding: 15px;
    box-shadow: 1px 1px 2px #EEEEEE;
    margin: 20px 0;
    .brand{
        ul{
            margin: 0px;
            padding: 0px;
            li{
                list-style: none;
            }
        }
        .form-control{
            border-radius: 0px;
            margin-bottom: 15px;
        }
    }
}
.categories, .brand, .price{
    .filter-title{
        font-size: 16px;
        color: #111111;
        text-transform: uppercase;
    }
    .filter-categories{
        margin: 0px;
        padding: 0px;
        li{
            list-style: none;
            a{
                font-size: 14px;
                color: #333333;
            }
            .sub-toggle{
                float: right;
                .material-icons{
                    font-size: 16px;
                }
            }
            .sub-menu{
                display: none;
            }
            .cat-check{
                display: none;
            }
            #btnControl{
                &:checked + .sub-menu{
                    display: block;
                }
            }
        }
    }
}

