<app-breadcrumb></app-breadcrumb>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="filter-sec">
                <aside class="categories">
                    <h4 class="filter-title">Categories</h4>
                    <ul class="filter-categories">
                        <li class="menu-item-has-children" for="btnControl">
                            <a href="#">Clothing &amp; Apparel</a>
                            <span class="sub-toggle">
                                <!-- <input class="cat-check" type="checkbox" name="btnControl" id="btnControl"> -->
                                <i class="material-icons" for="btnControl">keyboard_arrow_down</i>
                            </span>
                            <ul class="sub-menu">
                                <li><a href="#">Womens</a></li>
                                <li><a href="#">Mens</a></li>
                                <li><a href="#">Bags</a></li>
                                <li><a href="#">Sunglasses</a></li>
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Kid's Fashion</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Garden &amp; Kitchen</a>
                            <span class="sub-toggle">
                                    <!-- <input class="cat-check" type="checkbox" name="btnControl" id="btnControl"> -->
                                    <i class="material-icons" for="btnControl">keyboard_arrow_down</i>
                                </span>
                            <ul class="sub-menu" style="">
                            <li><a href="#">Cookware</a>
                            </li>
                            <li><a href="#">Decoration</a>
                            </li>
                            <li><a href="#">Furniture</a>
                            </li>
                            <li><a href="#">Garden Tools</a>
                            </li>
                            <li><a href="#">Home Improvement</a>
                            </li>
                            <li><a href="#">Powers And Hand Tools</a>
                            </li>
                            <li><a href="#">Utensil &amp; Gadget</a>
                            </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Consumer Electrics</a>
                            <span class="sub-toggle">
                                    <!-- <input class="cat-check" type="checkbox" name="btnControl" id="btnControl"> -->
                                    <i class="material-icons" for="btnControl">keyboard_arrow_down</i>
                                </span>
                            <ul class="sub-menu" style="">
                            <li class="menu-item-has-children"><a href="#">Air Conditioners</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu" style="">
                                <li><a href="#">Accessories</a>
                                </li>
                                <li><a href="#">Type Hanging Cell</a>
                                </li>
                                <li><a href="#">Type Hanging Wall</a>
                                </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Audios &amp; Theaters</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu" style="">
                                <li><a href="#">Headphone</a>
                                </li>
                                <li><a href="#">Home Theater System</a>
                                </li>
                                <li><a href="#">Speakers</a>
                                </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Car Electronics</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu" style="">
                                <li><a href="#">Audio &amp; Video</a>
                                </li>
                                <li><a href="#">Car Security</a>
                                </li>
                                <li><a href="#">Radar Detector</a>
                                </li>
                                <li><a href="#">Vehicle GPS</a>
                                </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Office Electronics</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu" style="">
                                <li><a href="#">Printers</a>
                                </li>
                                <li><a href="#">Projectors</a>
                                </li>
                                <li><a href="#">Scanners</a>
                                </li>
                                <li><a href="#">Store &amp; Business</a>
                                </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">TV Televisions</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu" style="">
                                <li><a href="#">4K Ultra HD TVs</a>
                                </li>
                                <li><a href="#">LED TVs</a>
                                </li>
                                <li><a href="#">OLED TVs</a>
                                </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Washing Machines</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                                <ul class="sub-menu" style="">
                                <li><a href="#">Type Drying Clothes</a>
                                </li>
                                <li><a href="#">Type Horizontal</a>
                                </li>
                                <li><a href="#">Type Vertical</a>
                                </li>
                                </ul>
                            </li>
                            <li><a href="#">Refrigerators</a>
                            </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Health &amp; Beauty</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                            <ul class="sub-menu" style="">
                            <li><a href="#">Equipments</a>
                            </li>
                            <li><a href="#">Hair Care</a>
                            </li>
                            <li><a href="#">Perfumer</a>
                            </li>
                            <li><a href="#">Skin Care</a>
                            </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Computers &amp; Technologies</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                            <ul class="sub-menu" style="">
                            <li><a href="#">Desktop PC</a>
                            </li>
                            <li><a href="#">Laptop</a>
                            </li>
                            <li><a href="#">Smartphones</a>
                            </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Jewelry &amp; Watches</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                            <ul class="sub-menu" style="">
                            <li><a href="#">Gemstone Jewelry</a>
                            </li>
                            <li><a href="#">Men's Watches</a>
                            </li>
                            <li><a href="#">Women's Watches</a>
                            </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Phones &amp; Accessories</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                            <ul class="sub-menu" style="display: none;">
                            <li><a href="#">Iphone 8</a>
                            </li>
                            <li><a href="#">Iphone X</a>
                            </li>
                            <li><a href="#">Sam Sung Note 8</a>
                            </li>
                            <li><a href="#">Sam Sung S8</a>
                            </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Sport &amp; Outdoor</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                            <ul class="sub-menu" style="display: none;">
                            <li><a href="#">Freezer Burn</a>
                            </li>
                            <li><a href="#">Fridge Cooler</a>
                            </li>
                            <li><a href="#">Wine Cabinets</a>
                            </li>
                            </ul>
                        </li>
                        <li><a href="#">Babies &amp; Moms</a>
                        </li>
                        <li><a href="#">Books &amp; Office</a>
                        </li>
                        <li><a href="#">Cars &amp; Motocycles</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="filter-sec">
                <aside class="brand">
                    <h4 class="filter-title">Brands</h4>
                    <input type="search" name="" id="" placeholder="Search..." class="form-control">
                    <ul>
                        <li>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Computers & Technologies</label>
                            </div>
                        </li>
                        <li>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Jewelry & Watches</label>
                            </div>
                        </li>
                        <li>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Phones & Accessories</label>
                            </div>
                        </li>
                        <li>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4">Sport & Outdoor</label>
                            </div>
                        </li>
                        <li>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                <label class="custom-control-label" for="customCheck5">Babies & Moms</label>
                            </div>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="filter-sec">
                <aside class="price">
                    <h4 class="filter-title">Price</h4>
                    <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3">
                </aside>
            </div>
            <div class="filter-sec">
                <aside class="price">
                    <h4 class="filter-title">Rating</h4>
                    
                </aside>
            </div>
            <div class="filter-sec">
                <aside class="price">
                    <h4 class="filter-title">Cloros</h4>
                    
                </aside>
            </div>
            <div class="filter-sec">
                <aside class="price">
                    <h4 class="filter-title">Size</h4>
                    
                </aside>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="product-category-view">
                <div class="category-title">
                    <h5 class="title">Shop</h5>
                    <span class="sort">
                        <select name="sort" id="sort">
                            <option value="">Sort by latest</option>
                            <option value="">Sort by rating</option>
                            <option value="">Sort by name: A to Z</option>
                            <option value="">Sort by name: Z to A</option>
                            <option value="">Sort by price popularity</option>
                            <option value="">Sort by price: low to high</option>
                            <option value="">Sort by price: high to low</option>
                        </select>
                    </span>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/1.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/2.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/3.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/4.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>
                        
                    <div class="col-lg-3">
                            <div class="card">
                            <a href="/product-detail"><img src="assets/images/categories/electronic/1.jpg" alt=""></a>
                            <div class="product-action">
                                <div class="cart">
                                <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                                </div>
                                <div class="wish">
                                <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                                </div>
                                <div class="compare">
                                <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                                <div class="rating">
                                <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                                (keyup)="confirmSelection($event)"></rating>
                                <small class="rating-count"> (15)</small>
                                </div>
                                <p class="product-price">৳ 1500.50</p>
                                <span class="price-off">
                                <del>৳ 500</del>
                                <span class="pop">-10%</span>
                                </span>
                            </div>
                            </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/2.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/3.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/4.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>
                        
                    <div class="col-lg-3">
                            <div class="card">
                            <a href="/product-detail"><img src="assets/images/categories/electronic/1.jpg" alt=""></a>
                            <div class="product-action">
                                <div class="cart">
                                <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                                </div>
                                <div class="wish">
                                <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                                </div>
                                <div class="compare">
                                <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                                <div class="rating">
                                <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                                (keyup)="confirmSelection($event)"></rating>
                                <small class="rating-count"> (15)</small>
                                </div>
                                <p class="product-price">৳ 1500.50</p>
                                <span class="price-off">
                                <del>৳ 500</del>
                                <span class="pop">-10%</span>
                                </span>
                            </div>
                            </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/2.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/3.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/4.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>
                        
                    <div class="col-lg-3">
                            <div class="card">
                            <a href="/product-detail"><img src="assets/images/categories/electronic/1.jpg" alt=""></a>
                            <div class="product-action">
                                <div class="cart">
                                <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                                </div>
                                <div class="wish">
                                <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                                </div>
                                <div class="compare">
                                <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                                <div class="rating">
                                <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                                (keyup)="confirmSelection($event)"></rating>
                                <small class="rating-count"> (15)</small>
                                </div>
                                <p class="product-price">৳ 1500.50</p>
                                <span class="price-off">
                                <del>৳ 500</del>
                                <span class="pop">-10%</span>
                                </span>
                            </div>
                            </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/2.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/3.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/electronic/4.jpg" alt=""></a>
                        <div class="product-action">
                            <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                            </div>
                            <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                            </div>
                            <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                            <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                            </div>
                            <p class="product-price">৳ 1500.50</p>
                            <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                            </span>
                        </div>
                        </div>
                    </div>

                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
    
</div>