<main>
    <div class="slider-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in
                    <!-- <div class="dropdown-left">
                        <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul>
                                <li><a href="#">test</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4"></div>
                        </div>
                        </div>
                    </div> -->
                    </li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                </div>
                <div class="col-lg-8">
                <carousel>
                    <slide>
                    <img src="assets/images/slider/home-4/1.jpg" alt="first slide" style="display: block; width: 100%;">
                    </slide>
                    <slide>
                    <img src="assets/images/slider/home-4/2.jpg" alt="second slide" style="display: block; width: 100%;">
                    </slide>
                    <slide>
                    <img src="assets/images/slider/home-4/3.jpg" alt="third slide" style="display: block; width: 100%;">
                    </slide>
                </carousel>
                </div>
                <div class="col-lg-2">
                <div class="ads">
                    <img src="assets/images/ads/product-ads.png" alt="">
                    <img src="assets/images/ads/product-ads.png" alt="">
                    <img src="assets/images/ads/product-ads.png" alt="">
                </div>
                </div>
            </div>
            <div class="site-feature">
                <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                    <div class="card-body">
                        <div class="icon">
                        <i class="material-icons">local_shipping</i>
                        </div>
                        <h5>Free Delivery</h5>
                        <p>For all oders over $99</p>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="material-icons">autorenew</i>
                        </div>
                        <h5>90 Days Return</h5>
                        <p>If goods have problems</p>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="material-icons">credit_card</i>
                        </div>
                        <h5>Secure Payment</h5>
                        <p>100% secure payment</p>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                    <div class="card-body">
                        <div class="icon">
                            <i class="material-icons">chat</i>
                        </div>
                        <h5>24/7 Support</h5>
                        <p>Dedicated support</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="best-seller-product home-category-view">
                <h2 class="category-title">Best seller product</h2>
                <div class="row">
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/clothing/1.jpg" alt=""></a>
                    <div class="badges">
                        Sold out
                    </div>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <div class="new-badges">
                        New
                    </div>
                    <a href="/product-detail"><img src="assets/images/categories/clothing/2.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/clothing/3.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/clothing/4.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/clothing/3.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/clothing/4.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="ads-home">
                <div class="row">
                <div class="col-lg-12">
                    <img src="assets/images/promotions/home-5/electronic-1.jpg" alt="">
                </div>
                </div>
            </div>
            <div class="best-seller-category">
                <h2 class="category-title">Best seller category</h2>
                <div class="row">
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/1.jpg" alt=""></a>
                    <div class="card-body">
                        <a href="#"><h4 class="category-name">Category name</h4></a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/2.jpg" alt=""></a>
                    <div class="card-body">
                        <a href="#"><h4 class="category-name">Category name</h4></a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/3.jpg" alt=""></a>
                    <div class="card-body">
                        <a href="#"><h4 class="category-name">Category name</h4></a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/4.jpg" alt=""></a>
                    <div class="card-body">
                        <a href="#"><h4 class="category-name">Category name</h4></a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/5.jpg" alt=""></a>
                    <div class="card-body">
                        <a href="#"><h4 class="category-name">Category name</h4></a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/6.jpg" alt=""></a>
                    <div class="card-body">
                        <a href="#"><h4 class="category-name">Category name</h4></a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        
            <div class="ads-home">
                <div class="row">
                <div class="col-lg-12">
                    <img src="assets/images/promotions/header-promotion.jpg" alt="">
                </div>
                </div>
            </div>
        
            <div class="home-category-view">
                <h2 class="category-title">Clothing</h2>
                <div class="row">
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/clothing/1.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/clothing/2.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/clothing/3.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/clothing/4.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/clothing/3.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/clothing/4.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            
            <div class="home-category-view">
                <h2 class="category-title">Electronic</h2>
                <div class="row">
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/electronic/1.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/electronic/2.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/electronic/3.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/electronic/4.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/electronic/3.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="card">
                    <a href="/product-detail"><img src="assets/images/categories/electronic/4.jpg" alt=""></a>
                    <div class="product-action">
                        <div class="cart">
                        <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                        <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                        <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                        <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (keyup)="confirmSelection($event)"></rating>
                        <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                        <del>৳ 500</del>
                        <span class="pop">-10%</span>
                        </span>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            
            <div class="home-category-view">
                <h2 class="category-title">Kitchen</h2>
                <div class="row">
                    <div class="col-lg-2">
                    <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/kitchen/1.jpg" alt=""></a>
                        <div class="product-action">
                        <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                        </div>
                        <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                        </span>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-2">
                    <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/kitchen/2.jpg" alt=""></a>
                        <div class="product-action">
                        <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                        </div>
                        <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                        </span>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-2">
                    <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/kitchen/3.jpg" alt=""></a>
                        <div class="product-action">
                        <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                        </div>
                        <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                        </span>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-2">
                    <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/kitchen/4.jpg" alt=""></a>
                        <div class="product-action">
                        <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                        </div>
                        <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                        </span>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-2">
                    <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/kitchen/3.jpg" alt=""></a>
                        <div class="product-action">
                        <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                        </div>
                        <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                        </span>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-2">
                    <div class="card">
                        <a href="/product-detail"><img src="assets/images/categories/kitchen/4.jpg" alt=""></a>
                        <div class="product-action">
                        <div class="cart">
                            <i class="material-icons" tooltip="Cart" placement="left">shopping_cart</i>
                        </div>
                        <div class="wish">
                            <i class="material-icons" tooltip="Favorite" placement="left">favorite</i>
                        </div>
                        <div class="compare">
                            <i class="material-icons" tooltip="Compare" placement="left">insert_chart</i>
                        </div>
                        </div>
                        <div class="card-body">
                        <a href="/product-detail"><h4 class="product-title">Blue and White Color Cotton Unstiched Shalwar Kameez</h4></a>
                        <div class="rating">
                            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                            (keyup)="confirmSelection($event)"></rating>
                            <small class="rating-count"> (15)</small>
                        </div>
                        <p class="product-price">৳ 1500.50</p>
                        <span class="price-off">
                            <del>৳ 500</del>
                            <span class="pop">-10%</span>
                        </span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
      