main{
    min-height: 50vh;
}

.slider-sec{
    margin: 15px 0;
    .list-group{
        .list-group-item{
            padding: 10px 15px;
            border-radius: 0px;
            background: #f0ffff;
            border: 1px solid #EEEEEE;
            &:hover{
                background: #18c0da;
                .dropdown-left{
                    display: block;
                }
            }
            .dropdown-left{
                display: none;
                position: absolute;
                left: 0;
                li{
                    color: #111111;
                }
            }
        }
    }
    .ads{
        img{
            width: 100%;
            margin-bottom: 16px;
            display: block;

        }
    }
}

.site-feature{
    .card{
        background: azure;
        border-radius: 0px;
        border: 0px;
        box-shadow: 0 0 3px #dddddd;
        .card-body{
            h5{
                font-size: 16px;
                color: #333333;
                margin: 0px;
            }
            p{
                font-size: 13px;
                color: #999999;
                margin: 0px;
                padding: 0px;
            }
            .icon{
                float: left;
                padding: 0 15px;
                .material-icons{
                    font-size: 40px;
                    color: #18c0da;
                }
            }
        }
    }
}

.best-seller-category{
    margin-bottom: 25px;
    .category-title{
        background:azure;
        color: #111111;
        padding: 8px 15px;
        font-size: 18px;
        margin: 20px 0;
        box-shadow: 1px 1px 2px #EEEEEE;
    }
    .card{
        border-radius: 0px;
        border: 0px;
        box-shadow: 0px 0px 3px #cccccc;
        text-align: center;
        img{
            margin: 0 auto;
        }
    
    }
    .category-name{
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        margin: 0px;
        padding: 0px;
    }
    a{
        color: #333333;
        &:hover{
            color: #111111;
            text-decoration: none;
        }
    }
}

.home-category-view{
    margin-bottom: 25px;
    .category-title{
        background:azure;
        color: #111111;
        padding: 8px 15px;
        font-size: 18px;
        margin: 20px 0;
        box-shadow: 1px 1px 2px #EEEEEE;
    }
    .card{
        border-radius: 0px;
        overflow: hidden;
        img{
            height: auto;
            width: 182px;
            margin: 0 auto;
        }
        .new-badges{
            font-size: 12px;
            text-align: center;
            position: absolute;
            left: -30px;
            top: 10px;
            padding: 1px;
            width: 100px;
            color: #fff;
            background: rgba(255, 152, 0, 0.75);
            transition: all .2s ease-in-out;
            transform: scale(1) rotate(-45deg);
            font-weight: 400;
        }
        .badges {
            font-size: 24px;
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 126px;
            padding: 10px;
            color: #fff;
            font-weight: bold;
            background: rgba(24, 192, 218, 0.5);
            transition: all .2s ease-in-out;
        }
        .product-action{
            opacity: 0;
            position: absolute;
            right: 0;
            text-align: center;
            i{
                margin-bottom: 1px;
                background: rgba(24, 192, 218, 0.75);
                font-size: 28px;
                color: #fff;
                padding: 5px;
                cursor: pointer;
                transition: all .2s ease-in-out;
                &:hover{
                    background: #0794aa;
                    transition: all .2s ease-in-out;
                    box-shadow: -1px 1px 2px rgba(17, 17, 17, 0.25);
                }
                &:focus, &:active{
                    background: #18c0da !important;
                    transition: all .1s ease-in-out;
                    box-shadow: 0px 0px 0px rgba(17, 17, 17, 0) !important;
                }
            }
            transition: all .2s ease-in-out;
        }
        
        transition: all .2s ease-in-out;
        &:hover{
            box-shadow: -2px 2px 5px #dddddd;
            transition: all .2s ease-in-out;
            .product-action{
            transition: all .2s ease-in-out;
            opacity: 1;
            }
            .badges {
                background: #18c0da;
                transition: all .2s ease-in-out;
            }
        }
        .card-body{
            padding: 15px;
            a{
                color: #666666;
                &:hover{
                    color: #111111;
                    text-decoration: none;
                }
            }
            .product-title{
                font-size: 13px;
                margin: 0px;
                font-weight: 400;
            }
            .product-price{
                font-weight: 600;
                color: #f57224;
                margin: 0px;
                padding: 0px;
                font-size: 18px !important;
                text-shadow: 1px 1px 1px #EEEEEE;
                font-family: sans-serif;
            }
            .price-off{
                font-size: 11px;
                color: #666666;
                font-family: sans-serif;
                .pop{
                    color: coral;
                }
            }
            .rating{
                color: #faca51;
                .rating-count{
                    color: #666666;
                    font-size: 12px;
                }
            }
        }
    }
}

.ads-home{
    img{
        width: 100%;
    }
}