<!-- footer -->
<footer>
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-3 widget contact-us">
            <h4 class="widget-title">Contact us</h4>
            <div class="widget_content">
            <p>Call us 24/7</p>
            <h5>1800 97 97 69</h5>
            <p>502 New Design Str, Dhaka, Bangladesh <br>info@bisshas.com</p>
            <!-- <ul class="list--social">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul> -->
            </div>
        </div>
        <div class="col-lg-3">
            <h4 class="widget-title">Quick links</h4>
            <ul class="list-link">
            <li><a href="#">Policy</a></li>
            <li><a href="#">Term &amp; Condition</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Return</a></li>
            <li><a href="faqs.html">FAQs</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h4 class="widget-title">Company</h4>
            <ul class="list-link">
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="#">Affilate</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="contact-us.html">Contact</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h4 class="widget-title">Bussiness</h4>
            <ul class="list-link">
            <li><a href="#">Our Press</a></li>
            <li><a href="checkout.html">Checkout</a></li>
            <li><a href="my-account.html">My account</a></li>
            <li><a href="shop-default.html">Shop</a></li>
            </ul>
        </div>
        </div>
        <hr>
        <br>
        <div class="footer-links">
        <p><strong>Consumer Electric:</strong><a href="#">Air Conditioners</a><a href="#">Audios &amp; Theaters</a><a href="#">Car Electronics</a><a href="#">Office Electronics</a><a href="#">TV Televisions</a><a href="#">Washing Machines</a>
        </p>
        <p><strong>Clothing &amp; Apparel:</strong><a href="#">Printers</a><a href="#">Projectors</a><a href="#">Scanners</a><a href="#">Store &amp; Business</a><a href="#">4K Ultra HD TVs</a><a href="#">LED TVs</a><a href="#">OLED TVs</a>
        </p>
        <p><strong>Home, Garden &amp; Kitchen:</strong><a href="#">Cookware</a><a href="#">Decoration</a><a href="#">Furniture</a><a href="#">Garden Tools</a><a href="#">Garden Equipments</a><a href="#">Powers And Hand Tools</a><a href="#">Utensil &amp; Gadget</a>
        </p>
        <p><strong>Health &amp; Beauty:</strong><a href="#">Hair Care</a><a href="#">Decoration</a><a href="#">Hair Care</a><a href="#">Makeup</a><a href="#">Body Shower</a><a href="#">Skin Care</a><a href="#">Cologine</a><a href="#">Perfume</a>
        </p>
        <p><strong>Jewelry &amp; Watches:</strong><a href="#">Necklace</a><a href="#">Pendant</a><a href="#">Diamond Ring</a><a href="#">Sliver Earing</a><a href="#">Leather Watcher</a><a href="#">Gucci</a>
        </p>
        <p><strong>Computer &amp; Technologies:</strong><a href="#">Desktop PC</a><a href="#">Laptop</a><a href="#">Smartphones</a><a href="#">Tablet</a><a href="#">Game Controller</a><a href="#">Audio &amp; Video</a><a href="#">Wireless Speaker</a><a href="#">Done</a>
        </p>
        </div>
        <br>
        <hr>
        <div class="footer copyright">
        <div class="row">
            <div class="col-lg-6">
            <p>© 2018 Bisshas. All Rights Reserved</p>
            </div>
            <div class="col-lg-6">
                <p class="float-right payment-method">
                <span>We Using Safe Payment For:</span>
                <a href="#"><img src="assets/images/payment-method/1.jpg" alt=""></a>
                <a href="#"><img src="assets/images/payment-method/2.jpg" alt=""></a>
                <a href="#"><img src="assets/images/payment-method/3.jpg" alt=""></a>
                <a href="#"><img src="assets/images/payment-method/4.jpg" alt=""></a>
                <a href="#"><img src="assets/images/payment-method/5.jpg" alt=""></a>
                </p>
            </div>
        </div>
        </div>
    </div>
</footer>