
footer{
    border-top: 1px solid #cccccc;
    padding: 50px 0;
    padding-bottom: 5px;
    .payment-method{
        img{
            width: 36px;
            margin-left: 10px;
        }
    }
    .copyright{
        font-size: 14px;
    }
    .widget-title{
        font-size: 16px;
        color: #444444;
        font-weight: bold;
    }
    .widget_content{
        color: #999999;
    }
    .list-link{
        margin: 0px;
        padding:0px;
        li{
            list-style: none;
            a{
                color: #999999;
                font-size: 13px;
            }
        }
    }
    .footer-links{
        p{
            font-size: 13px;
            color: #666666;
        }
        a{
            color: #999999;
            font-size: 12px;
            padding-left: 15px;
        }
    }

}
