<header>
    <div class="header-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                <div class="logo">
                    <a href="/"><img src="assets/images/logo_light.png" alt="logo"></a>
                </div>
                </div>
                <div class="col-md-6">
                <div class="input-group top-search">
                    <div class="input-group-prepend">
                    <select name="category" id="" class="form-control select-top-category">
                        <option value="">All</option>
                        <option value="">Category name</option>
                        <option value="">Category name</option>
                        <option value="">Category name</option>
                    </select>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    <div class="input-group-append">
                    <button class="btn btn-search"><i class="material-icons">search</i></button>
                    </div>
                </div>
                </div>
                <div class="col-md-3">
                <div class="top-right">
                    <div class="top-short-cut">
                        <div class="short-cut-item">
                        <span class="badge badge-warning float-right">9</span>
                        <i class="material-icons">insert_chart</i>
                        </div>
                        <div class="short-cut-item">
                        <span class="badge badge-warning float-right">9</span>
                        <i class="material-icons">favorite</i>
                        </div>
                        <div class="short-cut-item">
                        <span class="badge badge-warning float-right">9</span>
                        <i class="material-icons">shopping_cart</i>
                        </div>
                        <div class="short-cut-item float-right">
                        <i class="material-icons">account_circle</i>
                        <span class="float-right">
                            <p><a href="">Login</a></p>
                            <p><a href="">Regitration</a></p>
                        </span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                <div class="all-category">
                    <i class="material-icons">menu</i> All Category
                </div>
                </div>
                <div class="col-lg-5">
                <div class="main-nav">
                    <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                    </nav>
                </div>
                </div>
                <div class="col-lg-4">
                <div class="right-nav">
                    <nav>
                    <ul>
                        <li><a href="/login">Sell on Bisshas</a></li>
                        <li><a href="#">Tract your order</a></li>
                        <li><a href="#">US Dollar</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                    </nav>
                </div>
                </div>
            </div>
        </div>
    </div>
</header>