header{
    background: #fff;
    height: 150px;
    .header-top{
        height: 100px;
        border-bottom: 1px solid #dddddd;
        .top-search{
            padding: 30px 0;
            .select-top-category{
                border-radius: 4px 0 0 4px !important;
                background-color: #18c0da;
                border-color: #18c0da;
                color: #fff;
            }
            .btn-search{
                color: #fff;
                background-color: #18c0da;
                border-color: #18c0da;
                padding: 5px 10px 0px 10px;
            }
        }
        .top-right{
            padding: 30px;
            .material-icons{
                font-size: 36px;
                color: #18c0da;
                
            }
            .badge{
                // position: relative;
                // background: #F44336;
                // color: #fff;
            }
            .top-short-cut{
                .short-cut-item{
                    float: left;
                    margin-right: 15px;
                    position: relative;
                    p{
                        margin: 0px;
                        padding: 0px;
                        line-height: 18px;
                        font-size: 14px;
                    }
                    a{
                        color: #18c0da;
                    }
                    span.badge {
                        position: absolute;
                        left: 25px;
                        font-size: 11px;
                        font-weight: 400;
                        bottom: 5px;
                    }
                }
            }
        }
    }
    .header-nav{
        background: #18c0da;
        .all-category{
            padding: 14px 0;
            font-size: 14px;
            color: #fff;
            &:hover{
                
            }
            .material-icons{
                font-size: 24px;
                line-height: 24px;
                color: #fff;
                float: left;
                padding-right: 15px;
            }

        }
    }
    .logo{
        padding: 30px 0;
        img{
            width: 240px;
        }
    }
    .main-nav{
        ul{
            float: left;;
        }
    }
    .right-nav{
        ul{
            float: right;
        }
    }
    nav{
        ul{
            margin: 0px;
            padding: 0px;
            li{
                float: left;
                list-style: none;
                a{
                    color: #fff;
                    padding: 14px 10px;
                    font-size: 14px;
                    display: block;
                    text-transform: uppercase;
                    &:hover{
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
